@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic);

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: #E5FDFF;
    font-family: Lato, Roboto, sans-serif;
}

#title {
    color: #28B7E8;
    font-size: 45px;
}

#centered, #end {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#end {
    display: none;
}

.snowflake {
    position: fixed;
}

.snowflake img {
    width: 35px;
    height: 35px;
}